In [223]:
# importing  the library
import numpy as np
import pandas as pd

In [224]:
df=pd.read_csv('students_data1.csv')
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [225]:
df.head()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD

In [226]:
# explore the data
df.shape

(31, 10)

In [227]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     str
 2   age            28 non-null     float64
 3   gender         31 non-null     str
 4   grade          31 non-null     str
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     str
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     str
 9   remarks        31 non-null     str
dtypes: float64(2), int64(2), str(6)
memory usage: 2.6 KB

In [228]:
df.describe()

       student_id        age  math_score  science_score
count   31.000000  28.000000   13.000000      31.000000
mean   114.967742  16.785714   74.000000      79.903226
std      9.038746   0.629941   11.510864      13.095431
min    100.000000  16.000000   64.000000      62.000000
25%    107.500000  16.000000   65.000000      66.500000
50%    115.000000  17.000000   73.000000      83.000000
75%    122.500000  17.000000   75.000000      90.500000
max    129.000000  18.000000  100.000000     100.000000

In [229]:
# Handle missing values
df.isnull().sum()

student_id        0
name              0
age               3
gender            0
grade             0
math_score       18
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

In [231]:
# fill missing values
df['age'].fillna(df['age'].median(), inplace=True)
df['age'] = df['age'].fillna(0).astype(int)
df['math_score'] = pd.to_numeric(df['math_score'], errors='coerce')
df['math_score'] = df['math_score'].fillna(0).astype(int)
df['english_score'] = pd.to_numeric(df['english_score'], errors='coerce')
df['english_score'] = df['english_score'].fillna(0).astype(int)

C:\Users\MEGHANA\AppData\Local\Temp\ipykernel_6492\2887949038.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['age'].fillna(df['age'].median(), inplace=True)

In [232]:
df[['age','math_score','english_score']].head()
df.isnull().sum()

student_id       0
name             0
age              0
gender           0
grade            0
math_score       0
english_score    0
science_score    0
enrolled_date    0
remarks          0
dtype: int64

In [233]:
# remove duplicate records
df.duplicated().sum()

np.int64(1)

In [234]:
df.drop_duplicates()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16,female,11,75,0,66,2022-06-10,excellent
1,101,John Doe,16,Male,10th,74,95,94,10-06-2022,GOOD
2,102,Chris P.,0,MALE,10,0,0,69,06/12/2022,needs improvement
3,103,jane smith,16,FEMALE,10,0,0,62,10-06-2022,average
4,104,Sara O'Neil,16,male,11,0,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,Female,10,0,0,83,06/12/2022,needs improvement
6,106,ali Khan,17,female,11,64,0,75,06/12/2022,Good
7,107,Sara O'Neil,17,female,12,0,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16,Female,12,80,0,89,06/12/2022,poor
9,109,Robert Brown,17,female,12,0,0,97,10-06-2022,needs improvement
10,110,lucy gray,17,male,11th,65,67,100,06/12/2022,excellent
11,111,Simran Singh,16,FEMALE,11th,0,0,95,2022-06-10,average
12,112,Patel R.,17,female,11,0,87,89,2022-06-10,poor
13,113,Patel R.,17,male,10,0,0,98,06/12/2022,Average
14,114,Ali Khan,17,male,12,0,91,67,2022/06/11,poor
15,115,Lucy gray,16,Female,12,65,91,94,06/12/2022,Average
16,116,Chris P.,0,Female,11,0,0,72,2022/06/11,excellent
17,117,Ali Khan,18,male,11th,67,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,Male,10,100,74,62,2022/06/11,average
19,119,Patel R.,17,MALE,11th,73,0,90,06/12/2022,Good
20,120,Sara O'Neil,17,Male,10,0,0,89,2022-06-10,average
21,121,John Doe,18,female,11,66,72,94,10-06-2022,Average
22,122,Sara O'Neil,17,MALE,11th,75,0,66,2022-06-10,good student
23,123,jane smith,17,Female,11th,0,0,63,06/12/2022,excellent
24,124,John Doe,18,MALE,11th,0,0,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17,Male,12,94,80,63,10-06-2022,Average
26,126,John Doe,0,Male,10th,64,0,67,06/12/2022,good student
27,127,Simran Singh,16,FEMALE,12,0,76,80,06/12/2022,poor
28,128,Sara O'Neil,17,female,11,0,64,89,2022-06-10,average
29,129,Patel R.,17,male,11,0,64,83,2022/06/11,Average

In [235]:

df['grade'] = df['grade'].astype(str).str.strip().str.lower()

df['grade'] = df['grade'].replace(grade_map)

In [236]:
#Standardize and Clean Text Data Clean text columns by:
df['name'] = df['name'].str.strip()
df['gender'] = df['gender'].str.strip()
df['remarks'] = df['remarks'].str.strip()

In [237]:
df['name'] = df['name'].str.upper()
df['gender'] = df['gender'].str.upper()
df['remarks'] = df['remarks'].str.upper()

In [238]:
# Rename Columns
df.columns = df.columns.str.strip().str.upper()

In [239]:
# Final Clean Dataset
df.head(30)

,STUDENT_ID,NAME,AGE,GENDER,GRADE,MATH_SCORE,ENGLISH_SCORE,SCIENCE_SCORE,ENROLLED_DATE,REMARKS
0,100,JANE SMITH,16,FEMALE,XI,75,0,66,2022-06-10,EXCELLENT
1,101,JOHN DOE,16,MALE,X,74,95,94,10-06-2022,GOOD
2,102,CHRIS P.,0,MALE,X,0,0,69,06/12/2022,NEEDS IMPROVEMENT
3,103,JANE SMITH,16,FEMALE,X,0,0,62,10-06-2022,AVERAGE
4,104,SARA O'NEIL,16,MALE,XI,0,96,64,2022-06-10,GOOD
5,105,MIKE O’REILLY,16,FEMALE,X,0,0,83,06/12/2022,NEEDS IMPROVEMENT
6,106,ALI KHAN,17,FEMALE,XI,64,0,75,06/12/2022,GOOD
7,107,SARA O'NEIL,17,FEMALE,XII,0,63,62,2022/06/11,EXCELLENT
8,108,MIKE O’REILLY,16,FEMALE,XII,80,0,89,06/12/2022,POOR
9,109,ROBERT BROWN,17,FEMALE,XII,0,0,97,10-06-2022,NEEDS IMPROVEMENT
10,110,LUCY GRAY,17,MALE,XI,65,67,100,06/12/2022,EXCELLENT
11,111,SIMRAN SINGH,16,FEMALE,XI,0,0,95,2022-06-10,AVERAGE
12,112,PATEL R.,17,FEMALE,XI,0,87,89,2022-06-10,POOR
13,113,PATEL R.,17,MALE,X,0,0,98,06/12/2022,AVERAGE
14,114,ALI KHAN,17,MALE,XII,0,91,67,2022/06/11,POOR
15,115,LUCY GRAY,16,FEMALE,XII,65,91,94,06/12/2022,AVERAGE
16,116,CHRIS P.,0,FEMALE,XI,0,0,72,2022/06/11,EXCELLENT
17,117,ALI KHAN,18,MALE,XI,67,74,81,2022-06-10,GOOD
18,118,SIMRAN SINGH,17,MALE,X,100,74,62,2022/06/11,AVERAGE
19,119,PATEL R.,17,MALE,XI,73,0,90,06/12/2022,GOOD
20,120,SARA O'NEIL,17,MALE,X,0,0,89,2022-06-10,AVERAGE
21,121,JOHN DOE,18,FEMALE,XI,66,72,94,10-06-2022,AVERAGE
22,122,SARA O'NEIL,17,MALE,XI,75,0,66,2022-06-10,GOOD STUDENT
23,123,JANE SMITH,17,FEMALE,XI,0,0,63,06/12/2022,EXCELLENT
24,124,JOHN DOE,18,MALE,XI,0,0,91,06/12/2022,GOOD
25,125,MIKE O’REILLY,17,MALE,XII,94,80,63,10-06-2022,AVERAGE
26,126,JOHN DOE,0,MALE,X,64,0,67,06/12/2022,GOOD STUDENT
27,127,SIMRAN SINGH,16,FEMALE,XII,0,76,80,06/12/2022,POOR
28,128,SARA O'NEIL,17,FEMALE,XI,0,64,89,2022-06-10,AVERAGE
29,129,PATEL R.,17,MALE,XI,0,64,83,2022/06/11,AVERAGE